name: Release CI

on:
  push:
    tags:
      - 'v*'

jobs:
  create-release:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    outputs:
      release_id: ${{ steps.create-release.outputs.id }}

    steps:
      - uses: actions/checkout@v3

      - name: setup node
        uses: actions/setup-node@v3
        with:
          node-version: 20

      # pnpm 并使用缓存安装包
      - uses: pnpm/action-setup@v2
        name: Install pnpm
        id: pnpm-install
        with:
          version: 8
          run_install: false

      - name: Get pnpm store directory
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v3
        name: Setup pnpm cache
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install frontend dependencies
        run: pnpm install

      - name: Generate UPDATE_LOG.md
        run: pnpm run script:changelog

      - name: get app version
        # 版本号
        run: echo "app_version=$(node -p "require('./package.json').version")" >> $GITHUB_ENV

      - name: get app name
        # 应用名称
        run: echo "app_name=$(node -p "require('./package.json').name")" >> $GITHUB_ENV

      - name: create release
        id: create-release
        uses: ncipollo/release-action@v1
        with:
          owner: ${{ github.actor }}
          # 发布的可选标签。 如果省略，将使用 git ref （如果它是标签）。
          tag: 'v${{ env.app_version }}'
          name: '${{ env.app_name }} v${{ env.app_version }}'
          # 可选择将此版本标记为草稿版本。 设置为 true 以启用。
          draft: true,
          # 发布的可选正文文件。 这应该是文件的路径。
          bodyFile: './updater/UPDATE_LOG.md'

      - name: echo create-release outputs
        run: echo ${{ steps.create-release.outputs }}
      - name: echo create-release outputs.id
        run: echo ${{ steps.create-release.outputs.id }}

  build-tauri:
    needs: create-release
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        platform: [macos-latest, ubuntu-latest, windows-latest]
    outputs:
      releaseId: ${{ steps.tauri-action.outputs.releaseId }}
      releaseHtmlUrl: ${{ steps.tauri-action.outputs.releaseHtmlUrl }}
      releaseUploadUrl: ${{ steps.tauri-action.outputs.releaseUploadUrl }}
      artifactPaths: ${{ steps.tauri-action.outputs.artifactPaths }}
      appVersion: ${{ steps.tauri-action.outputs.appVersion }}

    runs-on: ${{ matrix.platform }}
    steps:
      - name: echo release_id
        run: echo "release_id = ${{ needs.create-release.outputs.release_id }}" ${{ needs.create-release.outputs.release_id }}

      - uses: actions/checkout@v3

      - name: install Rust stable
        uses: dtolnay/rust-toolchain@stable

      - name: install dependencies (ubuntu only)
        if: matrix.platform == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev libwebkit2gtk-4.0-dev libappindicator3-dev librsvg2-dev patchelf javascriptcoregtk-4.1 libsoup-3.0 webkit2gtk-4.1

      - name: setup node
        uses: actions/setup-node@v3
        with:
          node-version: 19

      # pnpm 并使用缓存安装包
      - uses: pnpm/action-setup@v2
        name: Install pnpm
        id: pnpm-install
        with:
          version: 8
          run_install: false

      - name: Get pnpm store directory
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v3
        name: Setup pnpm cache
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install frontend dependencies
        run: pnpm install

      - uses: tauri-apps/tauri-action@v0
        id: tauri-action
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAURI_SIGNING_PRIVATE_KEY: ${{ secrets.TAURI_SIGNING_PRIVATE_KEY }}
          TAURI_SIGNING_PRIVATE_KEY_PASSWORD: ${{ secrets.TAURI_SIGNING_PRIVATE_KEY_PASSWORD }}
        with:
          releaseId: ${{ needs.create-release.outputs.release_id }}
          updaterJsonPreferNsis: true

  publish-release:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    needs: [create-release, build-tauri]

    steps:
      - name: echo release_id
        run: echo "release_id = ${{ needs.create-release.outputs.release_id }}" ${{ needs.create-release.outputs.release_id }}
      - name: publish release
        id: publish-release
        uses: actions/github-script@v6
        env:
          release_id: ${{ needs.create-release.outputs.release_id }}
        with:
          script: |
            github.rest.repos.updateRelease({
              owner: context.repo.owner,
              repo: context.repo.repo,
              release_id: process.env.release_id,
              draft: false,
              prerelease: false
            })


